# backup files
*~
# ignore precompiled files
# ignore object files
*.i
*.o
*.obj
*.o64
# ignore library files
*.a
*.so*
*.dll
*.def
# ignore executables
biosig4c++/save2gdf
biosig4c++/mma/sload
biosig4c++/mma/sload.exe
# ignore mex files
mex/mexSOPEN.cpp
*.mex*
# ignore intermediate files for biosig4python
biosig4c++/python/biosig.py
biosig4c++/python/swig_wrap.cxx
# 
*.exe
*.deb
*.tar.gz
