Source: biosig4c++
Priority: extra
Maintainer: Alois Schloegl <alois.schloegl@ist.ac.at>
Uploaders: Yaroslav Halchenko <debian@onerussian.com>, Michael Hanke <michael.hanke@gmail.com>
Build-Depends: debhelper (>= 8),
               gawk,
               python-all-dev, swig, python-numpy,
               zlib1g-dev, libsuitesparse-dev,
               octave-pkg-dev (>= 0.5.7),
Standards-Version: 3.9.5
Section: science
Homepage: http://biosig.sf.net/
Vcs-Git: git://git.code.sf.net/p/biosig/code
Vcs-Browser: http://sourceforge.net/p/biosig/code/ci/master/tree/biosig4c++/

Package: libbiosig16
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: I/O library for biomedical data - dynamic library
 BioSig is a library for accessing files in several biomedical data formats
 (including EDF, BDF, GDF, BrainVision, BCI2000, CFWB, HL7aECG,
 SCP_ECG (EN1064), MFER, ACQ, CNT(Neuroscan), DEMG, EGI, EEG1100,
 FAMOS, SigmaPLpro, TMS32). The complete list of supported file
 formats is available at http://pub.ist.ac.at/~schloegl/biosig/TESTED .
 .
 This package provides dynamic library.

Package: libbiosig16-dbg
Section: debug
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libbiosig16 (= ${binary:Version})
Description: I/O library for biomedical data - debug symbols
 BioSig is a library for accessing files in several biomedical data formats
 (including EDF, BDF, GDF, BrainVision, BCI2000, CFWB, HL7aECG,
 SCP_ECG (EN1064), MFER, ACQ, CNT(Neuroscan), DEMG, EGI, EEG1100,
 FAMOS, SigmaPLpro, TMS32). The complete list of supported file
 formats is available at http://pub.ist.ac.at/~schloegl/biosig/TESTED .
 .
 This package provides debug symbols.

Package: libbiosig-dev
Section: libdevel
Architecture: any
Depends: libbiosig16 (= ${binary:Version}), ${misc:Depends}
Description: I/O library for biomedical data - development files
 BioSig is a library for accessing files in several biomedical data formats
 (including EDF, BDF, GDF, BrainVision, BCI2000, CFWB, HL7aECG,
 SCP_ECG (EN1064), MFER, ACQ, CNT(Neuroscan), DEMG, EGI, EEG1100,
 FAMOS, SigmaPLpro, TMS32). The complete list of supported file
 formats is available at http://pub.ist.ac.at/~schloegl/biosig/TESTED .
 .
 This package provides header files and static library.

Package: biosig-tools
Section: science
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: format conversion tools for biomedical data formats
 Based on BioSig library, this package provides command line
 tools, such as
 .
  - save2gdf: converter between different file formats, including but
    not limited to SCP-ECG(EN1064), HL7aECG (FDA-XML), GDF, EDF, BDF,
    CWFB.  save2gdf can be also used to upload or retrieve data from a
    bscs server.

Package: python-biosig
Section: python
Architecture: any
Depends: ${python:Depends}, ${shlibs:Depends}, ${misc:Depends}
Description: Python bindings for BioSig library
 This package provides Python bindings for BioSig library. Primary
 goal -- I/O interface to variety of biomedical file formats, including
 but not limited to SCP-ECG(EN1064), HL7aECG (FDA-XML), GDF, EDF.
 The complete list of supported file formats is available at
 http://pub.ist.ac.at/~schloegl/biosig/TESTED .

Package: octave-biosig
Architecture: any
Depends: ${octave:Depends}, ${shlibs:Depends}, ${misc:Depends}
Description: Octave bindings for BioSig library
 This package provides Octave bindings for BioSig library. Primary
 goal -- I/O interface to variety of biomedical file formats, including
 but not limited to SCP-ECG(EN1064), HL7aECG (FDA-XML), GDF, EDF.
 The complete list of supported file formats is available at
 http://pub.ist.ac.at/~schloegl/biosig/TESTED .

